
  *{
    font-family: 'Titillium Web', sans-serif;
  }

  .wrapper {
    width: 1300px;
    max-width: 90%;
    margin: 0 auto;
  }


  header div.menu-button {
    display: none;
  }

  header {
    width: 100%;
    height: 60px;
    padding: 2rem 0;
  }

  header h1.logo {
    font-size: 1.35rem;
    font-weight: 700;
    color: #1e3859;
    float: left;
    margin:0;
  }

  header nav {
    float: right;
    margin:0;
  }

  header nav a {
    text-decoration: none;
    color: #1e3859;
    font-weight: 700;
    margin-left: 2rem;
  }

#menu {
  display: none;
}

  #banner {
    background-image: url("https://raw.githubusercontent.com/Vidushi-Gupta/HackRice/main/Assets/homepage.png?token=ANLAOPMURZYSBZRI3VNUZI3BJ5HUA");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #banner .content {
    padding: 4rem 0 12rem 0;
  }

  #banner .content h1.title, #banner .content h2.sub_title {
      color: #1e3859;
      text-align: left;
      margin-left: 3%;
  }
.title{
    height:-4vh;
}
  #banner .content .title {
    font-size: 3.5rem;
    margin: 0;
    height: 12vh;
  }

  #banner .content .sub_title{
    font-weight: 600;
    font-size: 1.35rem;
    margin-left: 55%;
    width: 500px;
    line-height: 1.75;
  }

  .button {
      border: none;
      outline: none;
      border-radius: 2rem;
      padding: .6rem 3.5rem;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      text-align: center;
  }

.sm-button {
  padding: .3rem 1.2rem;
}

  #banner .content .button_wrapper {
    text-align: center;
  }

  #banner .content .button_wrapper .button {
    margin: 0 .75rem;
  }

  .button_highlight {
    background: #1e3859;
  }

  .button_secondary {
    background: #1e3859;
  }
  .button_secondary:hover{
      color: #bbddf2;
  }

  #banner .content .see_more {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 45%;
    cursor: pointer;
  }

  #services {
      background: #fff;
      padding: 14rem 0 6.5rem 0;
      position: relative;
  }

  #services ul{
    float: left;
    background: #fff;
    width: 26%;
    margin: -17rem 1% 0 1%;
    padding: 5rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px #bbddf2;
    -moz-box-shadow: 0px 0px 57px 0px #bbddf2;
    box-shadow: 0px 0px 57px 0px #bbddf2;
    border-radius: 1.35rem;
  }

  #services ul li {
    list-style: none;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
  }
p{
    color:#1e3859;
    margin-top: 2%;
    margin-bottom: 2rem;
}
  #services .service_title {
    font-size: 1.5rem;
    color: #1e3859;
    margin-top: auto;
  }

  #services .design::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -100px;
    height: 100px;
    border-left: 2px solid #e2e0ee;
  }

  #services .branding::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -50px;
    height: 50px;
    border-left: 2px solid #e2e0ee;
  }

  #services .development::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -50px;
    height: 50px;
    border-left: 2px solid #e2e0ee;
  }

  #services::before {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 48px;
    width: 58.8%;
    border-top: 2px solid #e2e0ee;
    margin-left: -29.8%;
  }

  #past_work h2.title {
    margin: 0 0 .75rem 0;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
  }

  #past_work {
    background: #3f3d4e;
    padding: 5rem 0 25rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  #past_work .logos {
    width: 750px;
    max-width: 95%;
  }

  #slider_buttons {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }

  #slider_buttons li {
    width: 9px;
    height: 9px;
    margin: 0 .5rem;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: #5b596e;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
  }

  #slider_buttons li:hover {
    background: #78c581;
  }

  #slider_buttons .current {
    background: #78c581;
  }


  #slider {
    width: 1300px;
    list-style: none;
  }

  #slider li {
    width: 600px;
    height: 375px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    border-radius: .35rem .35rem 0 0;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
  }

  #slider li img {
    width: 100%;
  }

  #slider li:nth-child(1) {
    bottom: -37px;
    left: 0;
    z-index: 2;
    -webkit-transform: scale(.8 ,.8);
    -moz-transform: scale(.8 ,.8);
    transform: scale(.8 ,.8);
  }

  #slider li:nth-child(2) {
    left: 50%;
    margin-left: -300px;
    z-index: 4;
    bottom: 0;
  }

  #slider li:nth-child(3) {
    bottom: -37px;
    right: 0;
    z-index: 2;
    -webkit-transform: scale(.8 ,.8);
    -moz-transform: scale(.8 ,.8);
    transform: scale(.8 ,.8);
  }


  #contact {
    background: #bbddf2;
    text-align: center;
    padding: 2rem 0 2rem 0;
  }

  #contact h1.title {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    color: #1e3859;
  }

  #contact .sub_title {
    text-align: center;
    color: #1e3859;
    padding-top: 2rem;
    font-size: 1.5rem;
    margin: 0 auto 2.5rem auto;
    width: 600px;
  }

  #contact a.button {
    font-size: 1.35rem;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
  }


  footer p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #1e3859;
  }

  footer a {
    text-decoration: none;
    color: #1e3859;
  }

@media screen and (max-width: 830px) {
  
  #services .service_title {
    font-size: 1.2rem;
  }
  #services::before {
    bottom: 10px;
  }
  #services .button {
      padding: .1REM 1rem;
      font-weight: 700;
  }
  

  #slider li:nth-child(1) {
    -webkit-transform: scale(.6 ,.6);
    -moz-transform: scale(.6 ,.6);
    transform: scale(.6 ,.6);
  }

  #slider li:nth-child(2) {
    bottom: -10%;
    -webkit-transform: scale(.8 ,.8);
    -moz-transform: scale(.8 ,.8);
    transform: scale(.8 ,.8);
  }

  #slider li:nth-child(3) {
    -webkit-transform: scale(.6 ,.6);
    -moz-transform: scale(.6 ,.6);
    transform: scale(.6 ,.6);
  }
  
  #past_work {
    padding: 1rem 0 17rem 0;
  }
  

  #contact {
    background: #f2f1f8;
    text-align: center;
    padding: 1rem 0 2rem 0;
  }

  #contact h1.title {
    font-size: 2rem;
    margin: 0;
  }

  #contact .sub_title {
    text-align: center;
    color: #b9b7c6;
    font-size: 1rem;
    margin: 0 auto 2rem auto;
    width: 400px;
  }

  #contact a.button {
    font-size: 1rem;
    padding: .3rem 2rem;
  }
  footer p{
    font-size: .8rem;
  }
}

@media screen and (max-width: 645px) {
  
  header h1 {
    text-align: center;
    display: block;
    width: 100%;
    padding-bottom: 25px;
  }
  
  header nav {
    float: right;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  #banner .content .title {
    font-size: 2rem;
    margin: 0;
  }

  #banner .content .sub_title{
    font-weight: 400;
    font-size: 1rem;
    width: 380px;
    line-height: 1.75;
    margin: 0 auto 1.7rem auto;
  }
  
  
  #services::after {
    content: '';
    display: block;
    clear: both;
  }
  #services {
      background: #f2f1f8;
      padding: 14rem 0 3.8rem 0;
      position: relative;
  }
  
  #past_work h2.title {
    margin: 0 0 .75rem 0;
    text-align: center;
    color: #fff;
    font-size: 1.9rem;
  }
  #past_work .logos {
    width: 600px;
    max-width: 95%;
  }

#slider li:nth-child(1) {
    -webkit-transform: scale(.6 ,.6);
    -moz-transform: scale(.6 ,.6);
    transform: scale(.6 ,.6);
  }

  #slider li:nth-child(2) {
    bottom: -10%;
    -webkit-transform: scale(.8 ,.8);
    -moz-transform: scale(.8 ,.8);
    transform: scale(.8 ,.8);
  }

  #slider li:nth-child(3) {
    -webkit-transform: scale(.6 ,.6);
    -moz-transform: scale(.6 ,.6);
    transform: scale(.6 ,.6);
  }
  
  #past_work {
    padding: 1rem 0 20rem 0;
  }
  
}

@media screen and (max-width: 492px) {
  header div.menu-button {
    display: none;
  }
}

@media screen and (max-width: 491px) {
  
  header nav a {
    display: list-item;
    list-style: none;
    padding: 10px;
  }
  
  header h1.logo {
    text-align: left;
  }
  
 
  
  header div.menu-button {
    display: block;
    float: right;
  }
  
  header h1.logo {
    padding: 0;
  }
  
  header .menu-button h4 {
    margin: 0;
    position: absolute;
    top: 37px;
    right: 15px;
  }
  
  header nav {
    display: none;
  }
  
  .showMenu {
    display: block;
  }
  
  #banner .content {
    padding: 2rem 0 10rem 0;
  }

  #banner .content .title {
    font-size: 1.9rem;
    margin: 0;
  }

  #banner .content .sub_title{
    font-weight: 400;
    font-size: .9rem;
    width: 380px;
    line-height: 1.75;
    margin: 0 auto 1.7rem auto;
  }
  .button_wrapper .button {
      border-radius: 2rem;
      padding: .1rem 2rem;
  }
  #services {
    padding: 0;
  }
  #services ul{
    float: none;
    display: inline-block;
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 2rem 2.5%;
  }
  #services .wrapper {
    margin-left: 2%;
  }
  
  #services .button {
     padding: 0 1rem;
    
  }
  
  
  
}

@media screen and (max-width: 395px) {
  #banner .content .sub_title{
    font-weight: 400;
    font-size: 1rem;
    width: 250px;
    line-height: 1.75;
    margin: 0 auto 2.7rem auto;
  }
  
  .button_wrapper .button_secondary {
    position: absolute;
    left: 29%;
    bottom: 37%;
  }

  #contact .sub_title {
    width: 250px;
  }
  
}
